.hidden {
    display: none;
}

.wait {
    background-image: url(../js/images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

.one-quarter, .one-third {
    width: 24.3%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: inline-block;
}

.one-third {
  width: 32.7%;
}

.one-quarter a.ui-btn, .one-third a.ui-btn {
    display: block;
    width: 74%;
}

.password h2 {
    border-top: 1px solid lightGray;
    padding-top: 0.3em;
}

.password .name-container .username {
    color: lightGray;
    font-weight: normal;
    font-family: monospace;
    text-align: right;
    width: 100%;
    display: block;
}

.password .links .ui-controlgroup-controls  {
    display: block;
}

.ui-footer .ui-controlgroup-controls {
    width: 99%;
}

#list h1 {
  background-image: url("../js/images/icons-png/search-black.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
}

.search {
  display: none;
}

#downloadDataOutput {
  min-height: 720px;
}
